<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Tues 27th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Introduction to the Internet of Things and the Arduino IDE</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Break for coffee</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Getting hands-on with Arduino code</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Break for lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>1:30 pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Connecting sensors</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>		  
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Wed 28th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>9:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Connecting sensors continued</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30 am</td>        <!-- time    -->
        <td>Break for coffee</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00 am</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Sending data to a server</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5  -->
        <td>12:30 pm</td>        <!-- time    -->
        <td>Break for lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>1:30 pm</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/iot-novice" target="_blank">Receiving data from a server</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6  -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
